.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "box box box box"
        "box box box box"
        "box box box box"
        "box box box box";
    grid-gap: 6px;
    height: 100%;
    width: 60%;
    text-align: center;

}

.box {
    align-items: center;
    display: flex;
    background-color: var(--black);
    height: 100%;
    width: 235px;
    box-shadow: var(--shadow);
    border-radius: 0px 0px 4px 4px;
    border-bottom: 3px solid var(--purple0);
    flex-direction: column;
}

.box_front {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100px;
    width: 100px;
}

.box_img {
    align-items: center;
    display: flex;
    justify-content: center;
    position: "relative"
}

.box_btn button {
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 0px;
    font-size: 25px;
    transform: rotate(220deg);
}

.box_btn button:hover {
    color: var(--purple0);
    transition: .6s;
    transform: rotate(240deg);
}

.box_back {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background-color: rgb(4, 4, 4);
    padding: 10px;
}

.box_back .course {
    font-size: 14px;
}

.box_back .conclusion {
    color: var(--purple0);
    font-weight: bolder;
    font-size: 13px;
}