.bottom_container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 50%;
    width: 100%;
}

.sub_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-bottom: 3px solid var(--purple0);
    height: 100%;
    width: 50%;
    background: rgba(38, 36, 52, 0.63);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.title {
    color: white;
}

.contact_info {
    height: 90%;
    width: 100%;
}

.web_info {
    height: 90%;
    width: 100%;
}