.content {
  align-items: center;
  display: flex;
  justify-content: center;
  height: calc(100vh - 170px);
  flex: 1;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--purple0);
  height: 90%;
  width: 55%;
  border-radius: 4px;
  box-shadow: 1px 1px 4px #00000059;
  box-sizing: border-box;
  padding: 10px;
}

.closeBtn {
  align-self: flex-end;
}

.closeBtn a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--vsfunc);
  font-size: 30px;

  position: relative;
}

.description {
  display: flex;
  justify-items: left;
  align-items: flex-start;
  box-sizing: border-box;
  height: 100%;
  flex-direction: column;
  padding: 0px 10px;
  width: 43%;
  color: white;
  position: relative;
}

.blankLinks {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.blankLink {
  height: 30px;
  background-color: var(--vsfunc);
  border-radius: 4px;
  gap: 15px;
  width: 49%;
}

.blankLink a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  font-weight: bold;
  width: 100%;
}

.date {
  height: 30px;
  width: 94%;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  display: flex;
  border-radius: 4px;
  background-color: var(--vsfunc);
  position: absolute;
  bottom: 1px;
}

.title {
  color: var(--vsfunc);
}

.about {
  color: white;
  font-size: 18px;
}

.imgWrapper {
  box-sizing: border-box;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 4px;
  height: 100%;
}

.img {
  height: 100%;
  width: 550px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
