.right_container {
    border-radius: 2px;
    background-color: var(--black);
    height: 100%;
    width: 69%;
    padding: 0px 25px;
  
    border-bottom: 3px solid var(--purple0);
    background: rgba(38, 36, 52, 0.63);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
}

.header {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
}

.projecttype_btn {
    margin: 0px;
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 22px;
    padding: 20px 20px;
    border-radius: 12px 12px 0px 0px;
    cursor: pointer;
}

.section {
    background-color: var(--purple0);
    height: 78%;
    width: 100%;
    padding-top: 20px;
}

.filter {
    display: flex;
    width: 40%;
    gap: 10px;
    margin-left: 20px;
}

.filter_btn {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
}

.filter_btn:hover {
    color: gray;
}

.filter_btn:nth-of-type(1) {
    border-bottom: 2px solid var(--purple0);
}