.container {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 40%;
    width: 60%;
    border-radius: 4px;
    background-color: #0e0e0e;
}
