.section {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 80px - 60px);
    display: flex;
    flex-direction: column;
}

.section_intro {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.intro_text {
    z-index: 1;
    /* From https://css.glass */
    background: rgba(38, 36, 52, 0.63);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid var(--purple0);
    padding: 20px ;
    color: white;
    margin-top: 30px;
}

.intro_title {
    border-bottom: 3px solid var(--purple0);
    font-size: 30px;
    text-align: left;
    width: 175px;
    margin: 10px 0px;
    font-family: RobotoThin;
}

.intro_subtitle {
    font-size: 20px;
}

.text_highlight {
    color: var(--vsfunc);
    font-weight: bold;
}

.author_name {
    text-align: left;
}

.btn_change_content {
    height: 50px;
}