.section {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 80px - 60px);
    display: flex;
    flex-direction: column;
}

.section_intro {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.intro_text {
    z-index: 1
}

.intro_title {
    border-bottom: 3px solid var(--purple0);
    font-size: 30px;
    text-align: left;
    width: 175px;
    margin: 10px 0px;
    font-family: RobotoThin;
}

.intro_subtitle {
    font-size: 20px;
}

.border_bottom {
    color: var(--purple0);
    font-weight: bold;
}

.author_name {
    text-align: left;
}