.left_container {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 2px;
    background: linear-gradient(180deg, var(--black), var(--purple0));
    height: 100%;
    width: 30%;
    box-shadow: var(--shadow);
    border-bottom: 3px solid var(--purple0);
}

.ticket {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
}

.picture {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 130px;
    width: 130px;
    border-radius: 65px;
    border: 2px solid white;
    background-color: white;
    z-index: 1;
}

.card {
    position: relative
}

.card_infos {
    background-color: var(--purple0);
    height: 80px;
    margin-left: -40px;
    border-radius: 0px 8px 0px 0px;
    width: 270px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.myname {
    color: white;
    font-size: 25px;
    margin: 0px;
    border-radius: 4px;
    margin-bottom: 5px;
}

.hr {
    margin: 0px;
    width: 100px;
}

.profission {
    color: var(--vsfunc);
    font-weight: bold;
    font-size: 15px;
}

.card_icons {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    color: black;
    background-color: white;
    border-radius: 0px 0px 8px 8px;
    width: 100px;
    font-size: 21px;
    padding: 5px 0px;
    position: absolute;
    right: 0px;
}

.card_icons svg:hover {
    cursor: pointer;
    color: var(--vsfunc);
}

.jobs {
    display: flex;
    justify-content: center;
    border-top: 2px solid white;
    background-color: var(--vsbg);
    height: 228px;
    width: 360px;
    border-radius: 0px 0px 8px 8px;
    position: relative;
    overflow: hidden;
}

.jobs_description {
    display: flex;
    flex-direction: column;
}

.jobs_description hr {
    background-color: transparent;
    color: transparent;
    border: none;
}

.jobs svg {
    position: absolute;
    bottom: 0px;
}

