.left_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 2px;
    background-color: var(--black);
    height: 100%;
    width: 30%;
    box-shadow: var(--shadow);
    border-bottom: 3px solid var(--purple0);
}

.picture {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 220px;
    width: 220px;
    border-radius: 110px;
    border: 3px solid var(--purple0);
    background-color: white;
}

.infos {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
}

.myname {
    font-size: 25px;
    margin: 0px;
    background-color: var(--purple0);
    padding: 5px 0px;
    border-radius: 4px;
    margin-top: -15px;
    margin-bottom: 10px;
}


.infos span {
    border: 2px solid var(--purple0);
    padding: 10px;
}

.infos span:nth-of-type(1) {
    margin-bottom: 10px;
    border-radius: 4px 4px 0px 0px;
}

.infos span:nth-of-type(2) {
    border-radius: 0px 0px 4px 4px;
}