.right_container {
    border-radius: 2px;
    background-color: var(--black);
    height: 100%;
    width: 69%;
    padding: 0px 25px;
   
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    width: 100%;
}

.title {
    margin: 0px;
}

.section {
    height: 78%;
    width: 100%;
}

.filter {
    display: flex;
    width: 40%;
    gap: 10px;
}

.filter_btn {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.filter_btn:hover {
    color: gray;
}

.filter_btn:nth-of-type(1) {
    border-bottom: 2px solid var(--purple0);
}
