.slide {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 98%;
    width: 100%;
    gap: 30px;
}

.slide_btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
    height: fit-content;
}

.wrapper_overflowhidden {
    height: 90%;
    width: 83%;
    overflow: hidden;
    border-radius: 20px;
}

.content {
    transition: .4s;
    align-items: center;
    display: flex;
    justify-content: left;
    gap: 20px;
    width: calc(5 * 300px);
    border-radius: 20px;
}

.content_element {
    background-color: gray;
    height: 295px;
    width: 200px;
    position: relative;
    overflow: hidden;
}

.element_links {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0px;
    background-color: var(--vsfunc);
    height: 35px;
    width: 100%;
    transition: .4s;
    font-size: 13px;
    color: white
}

.element_links:hover {
    background: linear-gradient(0deg, var(--vsfunc), #2624348d);
    height: 90%;
    box-shadow: 0px -4px 11px 7px #2624348d;
}

.label_name {
    font-weight: bold;
}