.login_container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    border-radius: 7px 0px 7px 7px;
    background-color: var(--purple0);
    transform: .4s;
}

.inputs {
    height: 80%;
}

.input_user, .input_pass {
    align-items: center;
    display: flex;
    justify-content: left;
    height: 40px;
    margin: 2px 0px;
}

.inputs input {
    height: 35px;
    width: 150px;
  
    outline: none;
    border: none;
    border-radius: 0px 4px 4px 0px;
    text-indent: 5px;
}

.inputs label {
    height: 35px;
    width: 50px;
    background-color: var(--vsfunc);
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 4px 0px 0px 4px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(30, 30, 30);
}

.inputs input:nth-of-type(2) {
    margin-top: 5px;
}

.submit {
    outline: none;
    border-radius: 4px;
    border: none;
    padding: 5px 0px;
    width: 200px;
    cursor: pointer;
}

.submit:hover {
    background-color: rgb(207, 207, 207);
}