.footer {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 40px;
    color: white;
    width: 100%;
    position: absolute;
    background-color: var(--purple0);
    bottom: 0px;
}

.span {
    color: var(--vsfunc);
    font-weight: bold;
}