.header {
    border-top: 2px solid var(--vsfunc);
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 0px 130px;
    background: rgba(38, 36, 52, 0.63);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    box-shadow: 0px 4px 9px #00000026;
}

.title {
    font-family: RobotoThin;
    font-size: 24px;
}

.navigation .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
}

.list .list_item {
    font-size: 30px;
}