@keyframes sunRotation {
    0% {
        transform: rotate(0deg);
    } 25% {
        transform: rotate(50deg);
    } 50% {
        transform: rotate(0deg);
    } 75% {
        transform: rotate(-50deg);
    } 100% {
        transform: rotate(0deg);
    }
}

.div_sun {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 600px;
    width: 600px;
    border-radius: 300px;
    background-image: linear-gradient(150deg, orange, orange, red);
    animation-name: sunRotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

