@font-face {
  font-family: 'RobotoThin';
  src: url('../fonts/Roboto-Thin.ttf')
}

@font-face {
  font-family: 'PoorStory';
  src: url('../fonts/PoorStory-Regular.ttf')
}

@font-face {
  font-family: 'GemunuLibre-Regular';
  src: url('../fonts/GemunuLibre-Regular.ttf')
}

:root {
  --purple0: #CC0066;
  --purple1: #460273;
  --purple2: #5D04D9;
  --purple3: #4703A6;
  --purple4: #1B0140;
  --purple5: #0D0126;
  --purple6: #05000e;
  --black: #0f0e0e;
}

html,
body {
  
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}

