@font-face {
  font-family: 'RobotoThin';
  src: url('../fonts/Roboto-Thin.ttf')
}

@font-face {
  font-family: 'PoorStory';
  src: url('../fonts/PoorStory-Regular.ttf')
}

@font-face {
  font-family: 'GemunuLibre-Regular';
  src: url('../fonts/GemunuLibre-Regular.ttf')
}

:root {
  --purple0: #262434;
  --black: #3f3d4c;
  --shadow: 0px 1px 6px 2px #00000014;
  --vsbg: #262434;
  --vsfunc: #ddcd84;
  --vsidentif: #4795a5;

}

html,
body {
  background-image: url(../public/imgs/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(0, 0, 0);
  }
}

